#formularioDisco label {
    display: inline-block;
    width: 200px; 
    vertical-align: top; 
}
  
#formularioDisco input {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px; 
}

  